/* punto (.) para las clases, numeral(#) para los id, si no contiene nada etiqueta */
.Error{
    border: solid 2px red;
}

.Ok{
    border: solid 2px black;
}

*,*:after, *:before{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#contenedor_carga{
    background-color: rgba(250, 240, 245, 0.281);
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all time;
    -o-transition:all 1z ease;
    transition: all 1s ease;
    z-index: 10000;
}

#carga {
    border: 15px solid #ccc;
    border-top-color: skyblue;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
}

@keyframes girar{
    from {transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

table{
    width: 60%;
    background-color: rgba(255, 255, 255);
    margin: auto;
    border-collapse: collapse;
}

thead{
    text-align: left;
    background-color: rgba(8, 155, 165, 0.678);
    color: white;
}

h2{
    width: 60%;
    background-color: white;
    margin: auto;
    padding: 10px;
}

table tbody tr:nth-child(odd) {
	background: #ddd;
    padding: 10px;
}

td, th{
    padding: 5px;
}

form{
    background: #ddd;
    width: 25%;
    height: 50%;
    position: fixed;
    top: 25%;
    left: 37%;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 10px;
}

label{
    background: rgb(221, 221, 221);
    width: 50%;
    height: 50%;
}

input[type=text]{
    width: 95%;
    display: block;
    height: 30px;
    padding: 10px;
    margin: 10px 0;
}

select{
    width: 70px;
    height: 30px;
}

.visible{
    display: block;
}

.invisible{
    display: none;
}

#idAlta{
    background: rgba(8, 155, 165, 0.678);
    color: white;
    width: 150px;
    height: 30px;
    border:none;
}

#boton{
    background: rgba(8, 155, 165, 0.678);
    color: white;
    width: 80px;
    height: 60px;
    border:none;
    /* font-size: 25px; */
    position: fixed;
    right: 10px;
    top: 10px;
}

#Año{
    margin: 10px 0;
    display: block;
}

#idCerrar{
    background: rgba(236, 6, 6, 0.678);
    width: 25px;
    height: 25px;
    border:none;    
    color: white;
    position: absolute;
    right: 10px;
    top: 10px;
}